
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Message App</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic" rel="stylesheet" type="text/css">
      <link href="css/application.css" rel="stylesheet" type="text/css"></link>
    </link>
  </head>
  <body>
    <header class="cf" id="main_header">
      <div class="wrapper_wide">
        <a href="index.html" id="logo">Message</a>
        <nav>
          <ul>
            <li>
              <a href="churches.html">Explore</a>
            </li>
            <li>
              <a href="sign-in.html">Sign In</a>
            </li>
            <li>
              <a href="sign-up.html">Create a Sermon</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="churches_banner" id="banner">
      <h1>Discover a Church</h1>
    </div>
    <div class="cf" id="churches">
      <div class="wrapper">
        <ul>
          <a href="church_show.html">
            <li>
              <img alt="Anointed Answer" src="images/anointedanswer1.jpg">
                <div class="church_overview">
                  <h2>Anointed Answer</h2>
                  <p class="sermon_count">1st Sermon</p>
                </div>
              </img>
            </li>
          </a>
          <a href="church_show.html">
            <li>
              <img alt="Elevation" src="images/elevation1.jpg">
                <div class="church_overview">
                  <h2>Elevation Church</h2>
                  <p class="sermon_count">1st Sermon</p>
                </div>
              </img>
            </li>
          </a>
          <a href="church_show.html">
            <li>
              <img alt="Park Church" src="images/parkchurch.jpg">
                <div class="church_overview">
                  <h2>Park Church</h2>
                  <p class="sermon_count">1st Sermon</p>
                </div>
              </img>
            </li>
          </a>
          <a href="church_show.html">
            <li>
              <img alt="Forest Hill" src="images/foresthilllogo.jpg">
                <div class="church_overview">
                  <h2>Forest Hill Church</h2>
                  <p class="sermon_count">1st Sermon</p>
                </div>
              </img>
            </li>
          </a>
        </ul>
      </div>
    </div>
  </body>
</html>