<div id="background">
		<header class = "cf">
			<div class="wrapper_wide">
				<a href="#" id="logo">Message</a>
				<nav>
					<ul>
						<li><a href="#">Explore</a></li>
						<li><a href="#">Sign In</a></li>
						<li><a href="#">Create a Sermon</a></li>
					</ul>
				</nav>
			</div>
			</header>
			<div class ="wrapper_skinny">	
<h1>Hear a word<br> wherever you are.</h1>
<a href="sign-up.html" class="button button_highlight">Create a Sermon</a>
<a href="churches.html" class="button button_white">Explore</a>
</div>
</div>